:root {
  --darkblue: #254151;
  --yellow: #f4ce50;
  --white: #eaeae8;
  --red: #c36055;
  --aqua: #44b29d;
}

body, html {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styles */
nav {
  background-color: var(--darkblue);
  color: var(--white);
}

nav img {
  width: 40px;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
}

.brand {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.brandtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navi-seperator {
  margin: 0 10px;
  cursor: pointer;
}

.home {
  color: var(--red);
}

.uppercase {
  text-transform: uppercase;
}

.donate {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  color: var(--darkblue);
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Heading Styles */
.heading {
  background: url("https://images.unsplash.com/photo-1571162478581-ad3d0c1057ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-size: cover;
  height: 95vh;
}

.heading-flex {
  height: 80%;
  text-align: center;
}

.heading-title {
  color: var(--white);
  font-weight: 700;
  font-size: 4rem;
}

.heading-para {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 1.1rem;
}

.heading-icons {
  background-color: var(--yellow);
  color: var(--darkblue);
  width: 60px;
  height: auto;
  text-align: center;
  float: right;
  padding: 20px;
  position: relative;
  bottom: 60%;
}

.fab {
  cursor: pointer;
}

/* Main Section */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 80%;
  left: 10%;
}

main div {
  padding: 10px;
}

.maintitle {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
  text-transform: uppercase;
}

.mission {
  background-color: var(--white);
  color: var(--darkblue);
  padding: 0 150px;
}

.mission .readmore {
  color: var(--aqua);
}

.pledge {
  background-color: var(--red);
  color: var(--white);
  padding: 0 60px;
}

.pledge .maintitle {
  margin-bottom: 20px;
}

.readmore {
  cursor: pointer;
  margin-bottom: 20px;
}

.supportbutton {
  border-radius: 20px;
  padding: 10px 30px;
  color: var(--red);
  font-weight: 700;
  text-transform: uppercase;
}

.news {
  background-color: var(--aqua);
  color: var(--white);
  padding: 0 150px;
}

.subscribe {
  background-color: var(--darkblue);
  color: var(--white);
}

.subscribe form {
  margin: 20px auto;
  width: 70%;
}

.subscribe .form-control {
  background-color: transparent;
  color: #fff;
}

.send {
  background-color: transparent;
  color: #fff;
  border: 0;
}

.send:hover, .send:focus {
  outline: none;
}

/* Events Section */
.events {
  margin-top: 500px;
  margin-bottom: 100px;
  color: var(--darkblue);
}

.eventstitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.eventscards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin: 0 250px;
  text-align: center;
}

.eventcard {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.cardimage {
  background: var(--darkblue);
  height: 300px;
  margin-bottom: 30px;
}

.imageone {
  background: url("https://images.unsplash.com/photo-1565897968925-4dc1642f65cc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
}

.imagetwo {
  background: url("https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.imagethree {
  background: url("https://images.unsplash.com/photo-1601490343010-278df88ce412?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.event {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 10px;
  padding: 0 30px;
}

.eventtime {
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.btn-info {
  background-color: var(--darkblue);
  color: #fff;
  border: 2px solid var(--darkblue);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btn-info:hover, .btn-info:focus, .btn-info:not(:disabled):not(.disabled):active {
  background-color: #fff;
  color: var(--darkblue);
  border-color: var(--darkblue);
}